%h1 定期更新ゲーム過去結果データ小屋
%p
  このサイトでは『
  %a{:href => "https://archives.teiki.org/", :target => "_blank"} 定期更新ゲーム名
  』を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_generate, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul
      .col-md-6
        %ul
          %li 結果データ

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 20--/-/-
      %ul
        %li サイト公開
