/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *
 */

$light:                             #444;
$white:                             #f8f9fa;
$gray:                              #444 ;
$gray-darker:                       #222 ;
$gray-dark:                         #282828 ;
$gray-light:                        #888 ;
$gray-lighter:                      #dddedf ;
$blue-light:                        #e1ebef;
$blue-stripe:                       #d7d8db;
$blue:                              #b5b7bb;
$blue-dark:                         #94acce;
$blue-border:                       #29468a;
$blue-border-dark:                  #00306b;

$link-color:                        #007bff;
$link-hover-color:                  #0056b3;
$nav-hover-bg-color:                #555;
$nav-active-bg-color:               #222;
$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           #4cf;
$navbar-dark-active-color:          $white;
$navbar-dark-toggler-border-color:  transparent;
$dropdown-link-hover-bg:            $link-hover-color;
$dropdown-link-active-bg:           $link-hover-color;
$table-border-color:                #888 ;
$table-hover-bg:                    $gray-lighter;

$pagination-color:                  $gray;
$pagination-bg:                     $blue-light;
$pagination-border-color:           $blue-border;
$pagination-border-width:           0.05rem;

$pagination-hover-color:            $gray;
$pagination-hover-bg:               $blue;
$pagination-hover-border-color:     $blue-border;

$pagination-active-color:           $gray;
$pagination-active-bg:              $blue;
$pagination-active-border-width:    0.05rem;
$pagination-active-border-color:    $blue-border;

$pagination-disabled-color:         $gray;
$pagination-disabled-bg:            $blue;
$pagination-disabled-border-color:  $blue-border;

@import "flatly/variables";
@import "bootstrap";


body { padding-top: 5rem; }

@import "darkly/bootswatch";

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.navbar-custom {
    border-style: none none solid none;
    border-width: 0rem;
}

.navbar-custom .navbar-brand{
    padding: .8rem .5rem;
}
.navbar-custom .navbar-nav .nav-link{
    padding: 1rem .5rem;
}

.navbar-custom .navbar-brand:hover {
    color: $navbar-dark-hover-color;
}

.navbar-custom .nav-item .nav-link.show {
    color: $navbar-dark-color;
    background-color: $nav-active-bg-color;
}

.navbar-custom .nav-item:hover .nav-link {
    background-color: $nav-hover-bg-color;
}

.dropdown-menu.show[aria-labelledby="two-col"] {
    display:flex;
    width:28rem;
    flex-wrap:wrap;
}

.dropdown-menu.show[aria-labelledby="two-col"] .dropdown-item{
    width:50%;
}

.dropdown-menu.show[aria-labelledby="two-col"] .dropdown-item.one-item{
    width:100%
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background-color: #007fff;
}

.dropdown-menu .dropdown-item.no-link:hover, .dropdown-menu .dropdown-item.no-link:focus {
    color: #fff;
    background-color: #777777;
}

.pagination li a {
    padding: .8rem 1rem;
}

.page-item {
    white-space: nowrap
}

.page-item.disabled {
    cursor: not-allowed;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

h3.graph_title {
    border-left:$gray 6px solid;
    border-bottom:$gray 2px solid;
}

label {
    font-weight: bold;
}

::placeholder {
    color: #ccc;
}

.card.top {
    border-color: #aaa;
    border-style: solid;
    border-width: 0.05rem;
    box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}

.card.desc {
    border-color: #aaa;
    border-style: solid;
    border-width: 0.05em;
    box-shadow: .3rem .3rem .3rem rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}

.card.desc .card-header {
    margin-left: 1px;
    cursor: pointer;
}

.formText {
    border-left: 0.2em solid #48f !important;
}

p.formText {
    padding-left:0.3em;
}

.formNum {
    border-left: 0.2em dashed #f66 !important;
}

p.formNum {
    padding-left:0.3em;
}

.example_select{
    background-color: #ddd;
    border-left: 0.5em solid #282;
    color: #222;
    padding: 0.5em 0.8em;
}

.pointer{
    cursor:pointer;
}

.closed{
    display:none;
}

td.sign{
    font-size: x-large;
}

td.pc_name{
    max-width: 16rem;
}

th.sep,td.sep{
    border-left: 3px solid $table-border-color;
}

tr.sep{
    border-top: 4px solid $table-border-color;
}

table tbody:nth-child(1) span.act_desc{
    font-size:80%;
}

table tbody.tbody_toggle td{
    //background-color: #666;
    padding-left: 2em;
}

table tbody.tbody_toggle td:hover{
    //background-color: #444;
}

.btn-outline-search {
    border: 0.2rem solid $gray-darker;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.2);
    color: $gray-darker;
}

.btn-outline-search:hover {
    border: 0.2rem solid $gray-darker;
    background-color: $gray-darker;
    color: $white;
}

input[type=checkbox] {
    cursor: pointer;
}

input + label:hover {
    cursor: pointer;
    background: linear-gradient(transparent 70%, #2A9FD6 0%);
}

span.after_space::after {
    content: "　" ;
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 1.5rem;
    }
    
    table.search_toggle {
        border-collapse: collapse;
        td, th {
            display: block;
        }
    }
    td.indent {
        border:  0rem;
        padding: 0rem;
    }

    .pagination {
        display: inline;
    }

    .pagination li {
        display: inline-block;
    }

    span.mobile_br::after {
        content: "\a" ;
        white-space: pre ;
    }

    ul{
        padding-left: 1rem;
    }
}
