%p.formNum
  数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
  %br
  「100~」で100以上、「~100」で100以下、「-200~100」で-200～100の範囲指定となります。
%p.formText
  「アタック」と入力　→　アタック、ヘヴィアタック、グレートアタック……が検索結果にヒット
  %br
  「"アタック"」　→　完全一致で「アタック」のみ検索結果にヒット
  %br
  「-アタック」　→　「アタック」の単語を含まない目的が検索結果にヒット
  %br
  「-"アタック"」　→　完全一致で「アタック」以外が検索結果にヒット
  %br
  「アタック ヘヴィ」　→　「アタック」と「ヘヴィ」の2つの単語が含まれるものが検索結果にヒット
  %br
  「アタック/ヘヴィ」　→　「アタック」か「ヘヴィ」のどちらかの単語が含まれるものが検索結果にヒット
  %br
  「アタック ヘヴィ/グレート」　→　「アタック」が含まれ、さらに 「ヘヴィ」か「グレート」 が含まれるものが検索結果にヒット
  %br
  「-アタック -ヘヴィ」　→　「アタック」もしくは「ヘヴィ」という単語が含まれるものを検索結果から除外
